html {
  font-size: 62.5%;
  font-family: 'Krub', sans-serif;
}

body {
  background: #F3F5FC; 
}

.button-container {
 display: flex;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;

}

.button-container:last-child {
  margin-right: 0;
}

.btn {
width: 328px;
height: 67px;
background: #0A3871;
border-radius: 24px;
color: #FFFFFF;
font-family: 'Krub', sans-serif;
font-size: medium;
transition-duration: 0.4s;
}
.btn:hover{
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



.text-input {
 position: absolute;
 width: 577px;
 height: 150px;
 left: 240px;
 top: 168px;
 background-color: #F3F5FC ;

 font-family: 'Krub', sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 32px;
 line-height: 150%;
 color: darkblue;
 padding-left: 6px;

 border: none;
 resize: none;
  outline: none;
  border-radius: 32px;


 max-width: 577px;
}

.msg-box{
display: flex;
flex-direction: column;
align-items: center;
padding: 24px;
gap: 8px;
position: absolute;
left: 1000px;
top: 40px;
background-color: #FFFFFF;
border-radius: 32px;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08)
}

.text-noinput{
  width: 400px;
  max-width: 400px;
  height: 944px;
  max-height: 943px;
  background: #FFFFFF;
  font-family: 'Krub', sans-serif;
  font-style: normal;
 font-weight: 400;
 font-size: 32px;
 line-height: 150%;
 padding-left: 6px;
 color: darkblue;
 border: none;
  resize: none;
  outline: none;
}
input[type="text"]
{
  font-size:32px;
}


#btn-copy{
width: 336px;
height: 67px;
border: 1px solid #0A3871;
font-family: 'Krub', sans-serif;
border-radius: 24px;
transition-duration: 0.4s;
}
#btn-copy:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.header{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;
}

.alura{
position: absolute;
left: 36.67%;
right: 37.43%;
top: 0%;
bottom: 0%;
transform: scale(0.9);
}


.footer{
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 245px;
  top: 1025px;
  gap: 22px;
}

.linkedin{
  height: 53px;
}

.linkedinText {
font-family: 'Krub', sans-serif;
  align-self: center;
  font-size: 22px;
  color: #0077B7;
  margin: 0 100px 0 0;
  font-weight: 500;
  text-decoration: none;
}

.github{
  height: 53px;
}

.githubText {
font-family: 'Krub', sans-serif;
  align-self: center;
  font-size: 22px;
  color: #000000;
  font-weight: 500;
  margin: 0 100px 0 0;
  text-decoration: none;
}